
    


<div class="mainPage" style="padding-top: 6rem;">
   
    <% entradaList.forEach(function(entrada, index) { %>

        <% if(index==0){  %>
    <a class="link" href="<%= entrada.id %>">
        <div class="modulo1">
            <img class="image" src="/images/jc2.jpg"/>
            <a class="titular" style="color:white" href=""><%=entrada.title  %></a>
        </div>
      
    </a> 
    <% }else{  %>
    <a class="link"  href="<%= entrada.id %>">

        <div class="modulo5"><h2 class="titulares-cabecera">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por ómicron</h2></div>
    </a>

    <% } %>
   
    <% }); %>
</div>

<div class= "mainPage">

    <% entradaList.forEach(function(entrada, index) { %>

        <% if(index==0){  %>
    <a class="link" href="<%= entrada.id %>">        
    <div class="modulo3">
        <div class="foto"><img class="image" src="/images/tebas.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por ómLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
    </a>
     <% }else{  %>

    <a class="link" href="<%= entrada.id %>">
   
        <div class="modulo4">
            <div class="foto"><img class="image" src="/images/interior.jpg"/></div>
            <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
        </div>
    </a>
    <% } %>
   
    <% }); %>
   
</div>





<div class= "mainPage">

    <a class="link" href="/noticia/casado">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/casado.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/messi">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/messi.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/sanidad">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/sanidad.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/xavi">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/xavi.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/carmen">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/carmen.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/yolanda">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/yolanda.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>
    
</div>

<div class= "mainPage">

    <a class="link" href="/noticia/elon">
    <div class="modulo3">
        <div class="foto"><img class="image" src="/images/elon.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
     </div>
    </a>

    <a class="link" href="/noticia/amazon">
    <div class="modulo4">
         <div class="foto"><img class="image" src="/images/amazon.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/depresion">
    <div class="modulo4">
        <div class="foto"><img class="image" src="/images/depresion.jpg"/></div>
        <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>
 
</div>


<div class= "mainPage">

    <a class="link" href="/noticia/joe">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/joe.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/merkel">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/merkel.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/xijiping">
    <div class="modulo2">
        <div class="foto"><img class="image" src="/images/xijiping.jpg"/></div>
         <div class="titulo">La UE cree que "en pocos meses" la mitad de las infecciones de COVID serán causadas por óm</div>
    </div>
    </a>

    <a class="link" href="/noticia/ayuso">
    <div class="modulo1">
        <img class="image" src="/images/ayuso.jpeg"/>
        <a class="titular" href="">El rey es acusado de ...</a>
    </div>
    </a>


</div>